* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.container {
  max-width: 750px;
  margin: 0 auto;
}
.box {
  background: darkorchid;
  color: white;
  padding: 15px;
  padding: 15px 40px;
  padding: 15px 30px 45px 10px;
  border: 4px solid black;
  margin: 10px 50px 40px 15px;
}
.blocks .block {
  width: 25%;
  background: red;
  height: 50px;
  float: left;
  border: 4px solid white;
  box-sizing: border-box;
}
.blocks {
  width: 100%;
}
