.inline li {
  display: inline;
}
.box {
  width: 31%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}
.image {
  width: 200px;
  margin: 40px auto;
  display: block;
}
